/PowerModel.class
/PowerModelCubic.class
/PowerModelLinear.class
/PowerModelSpecPower.class
/PowerModelSpecPowerHpProLiantMl110G3PentiumD930.class
/PowerModelSpecPowerHpProLiantMl110G4Xeon3040.class
/PowerModelSpecPowerHpProLiantMl110G5Xeon3075.class
/PowerModelSpecPowerIbmX3250XeonX3470.class
/PowerModelSpecPowerIbmX3250XeonX3480.class
/PowerModelSpecPowerIbmX3550XeonX5670.class
/PowerModelSpecPowerIbmX3550XeonX5675.class
/PowerModelSqrt.class
/PowerModelSquare.class
