/PowerDatacenter.class
/PowerDatacenterBroker.class
/PowerDatacenterNonPowerAware.class
/PowerHost.class
/PowerHostUtilizationHistory.class
/PowerVm.class
/PowerVmAllocationPolicyAbstract.class
/PowerVmAllocationPolicyMigrationAbstract.class
/PowerVmAllocationPolicyMigrationInterQuartileRange.class
/PowerVmAllocationPolicyMigrationLocalRegression.class
/PowerVmAllocationPolicyMigrationLocalRegressionRobust.class
/PowerVmAllocationPolicyMigrationMedianAbsoluteDeviation.class
/PowerVmAllocationPolicyMigrationStaticThreshold.class
/PowerVmAllocationPolicySimple.class
/PowerVmSelectionPolicy.class
/PowerVmSelectionPolicyMaximumCorrelation.class
/PowerVmSelectionPolicyMinimumMigrationTime.class
/PowerVmSelectionPolicyMinimumUtilization.class
/PowerVmSelectionPolicyRandomSelection.class
