/VmAllocationPolicyCombinedLeastFullFirst.class
/VmAllocationPolicyCombinedMostFullFirst.class
/VmAllocationPolicyMipsLeastFullFirst.class
/VmAllocationPolicyMipsMostFullFirst.class
/VmSchedulerTimeSharedEnergy.class
